<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>IBM Cloud Cloud Foundry to Code Engine migration demo</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h2 class=logo-center>You are running the Cloud Foundry to Code Engine migration demo, Cloud Foundry edition.</h2>
  <p class=logo-center>It uses a Node.js server connected to a Cloudant databases. Learn more about <a href="https://www.ibm.com/cloud/code-engine">IBM Cloud Code Engine</a> and check out the migration guide.</p>
  <div id="name">
    <p>Add an item to the database:</p>
    <input type="text" placeholder="item" autofocus>
    <p id="responseHead"></p>
    <ul id="responseArea"></ul>
  </div>
  <script src="index.js"></script>
</body>

</html>
